@*@model BookUserCommentViewModel

@{

}

<div>
    <form method="post" asp-controller="User" asp-action="Comment">
        <input asp-for="BookId" type="hidden"/>
        <input asp-for="CommentId" type="hidden"/>
        <input asp-for="CommentText"/>
        <button class="btn btn-primary" type="submit">Comment</button>
    </form> 
</div>*@