@model CategoryBookViewModel

<div>
</div>
<form asp-controller="Home" asp-action="HomeView" method="get">
    <select asp-for="CategoryId" asp-items="@(new SelectList(Model.Categories, "Id", "CategoryName"))">
        <option value="">All</option>
    </select>
    <input type="submit" value="Filter"/>
</form>
<div class="row">
    @foreach (var book in Model.Books) {
        <div class="col-2 mx-2">
            <div class="border-3 px-2 py-2 rounded-3 bg-white">
                <div class="container">
                    <img src="~/images/@book.imageURL" style="width: 100px; height:160px;"/>
                </div>
                <div class="container">
                   <b class="text text-primary">@Html.DisplayFor(modelItem => book.Name)</b>
                   <br>
                   <span style="color: darkgreen">@Html.DisplayFor(modelItem => book.Author)</span>
                   <br>
                   <span class="text text-danger">$@Html.DisplayFor(modelItem => book.Price)</span>
                </div>
                <a asp-controller="User" asp-action="ViewBook" asp-route-id="@book.Id" class="btn btn-primary mt-2 mx-4">View</a>
            </div>
        </div>
    }
</div>
