@if(User.Identity.Name == "AboMosa")
{
    <li class="nav-item">
    <a class="nav-link" asp-action="ShowBooks">View books</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" asp-action="ShowAccounts">View users</a>
    </li>
}